<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>
  </tr>
  {{#each department}}
  <tr>
    <td>{{D_Name}}</td>
    <td>{{D_Id}}</td>
  </tr>
  {{/each}}
</table>
